button:hover{
  background-color: purple;
  color: white;
  border-radius: 10px;
}

button{
  padding: 15px;
  margin-top: 30px;
  display: flex;
  border-radius: 15px;
}

.radio-group input[type="radio"]:checked{
  box-shadow: 0 0 5px blue;
  border-color: green;
  background-color: purple;
}

input:focus,
textarea:focus{
  border-color: blue;
  outline: none;
}

input:invalid,
select:invalid,
textarea:invalid{
  border-color: red;
}

input:valid,
select:valid,
textarea:valid{
  border-color: green;
}

input:first-of-type {
    border-radius: 8px;
}

.radio-group input[type="radio"]:checked + label {
    color: blue;
}
